---
import Base from "../layouts/Base.astro";
import { SEO } from "astro-seo";
import { Search } from "../components/Landing/Search";
import { BoltSlashIcon } from "@heroicons/react/24/solid";

const mdxArticles = await Astro.glob("../pages/articles/*.mdx");
---

<Base>
	<SEO title="brittle.systems" description="" slot="head" />
	<body slot="body">
		<div
			class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 flex flex-col items-center space-y-12 justify-center h-screen">
			<div class="-mt-[10%] p-5 bg-slate-950 bg-opacity-80 rounded-full">
				<BoltSlashIcon
					className="absolute animate-ping-logo text-orange-500 h-28 w-28 md:h-32 md:w-32 lg:h-36 lg:w-36 xl:h-40 xl:w-40"
				/>
				<BoltSlashIcon
					className="text-orange-500 h-28 w-28 md:h-32 md:w-32 lg:h-36 lg:w-36 xl:h-40 xl:w-40"
				/>
			</div>
			<div class="w-full max-w-[80vw] md:max-w-2xl">
				<Search client:load />
			</div>
		</div>
	</body>
</Base>

<style scoped>
	body {
		background-image: url("/backgrounds/landing.svg");
		background-size: cover;
	}
</style>
